:root {
    --font-body: Poppins, Helvetica, sans-serif;
    --font-headline: Oswalt, "Arial Narrow Bold", sans-serif;
    /* colors */
    --primary-color: #67aaf9;
    --secondary-color: #b95f89;
    --accent1-color: #c4e0f9;
    --accent2-color: #161925;
    --accent2-color-opaque: rgba(22, 25, 37, 0.5);

    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 960px;
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--dark-grey);
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
}

.nav-link {
    margin: 0 10px;
}

.nav-link a {
    color: var(--accent2-color);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.nav-link a:hover {
    color: var(--accent1-color);
    font-size: var(--large-font);
}

.nav-link-active a {
    color: var(--accent1-color);
    font-size: var(--large-font);
}

.hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
    margin-bottom: 2rem;
}

.hero-image {
    grid-column: 1 / span 6;
    grid-row: 1/ span 3;
}

.hero-text {
    grid-column: 1 / span 6;
    grid-row: 2;
    z-index: 1;
    text-align: center;
    color: var(--accent1-color);
    background-color: var(--accent2-color);
    contain: content;
}

.home-grid {
    display: grid;
    justify-items: center;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 2rem;
    padding: .5rem;
}

section {
    width: 100%;
    border: --var(accent2-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: .25rem;
    transition: box-shadow 0.25s ease-in-out;
}

section:hover {
    box-shadow: 5px 5px 10px 5px var(--accent1-color);
}

section h2 {
    font-family: var(--font-headline);
    font-size: var(--large-font);
    color: var(--accent2-color);
    text-align: center;
}

section p {
    margin: .5rem;
}

section a {
    color: var(--accent1-color);
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: white;
    font-size: var(--large-font);
    cursor: pointer;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
}

.center {
    text-align: center;
}

.rover-select {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.rover-hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.rover-hero-image {
    width: 100%;
    object-fit: cover;
    padding: 0 .5rem;
}

.rover-hero-text {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

#rover-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

#rover-select label,
select,
input {
    display: block;
    width: 100%;
    padding: .5rem;
}

#rover-images h2 {
    font-family: var(--font-headline);
    font-size: var(--large-font);
    color: var(--accent2-color);
    text-align: center;
}

.rover-grid {
    display: grid;
    justify-items: center;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem .5rem;
}

.image-active {
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.image-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--accent2-color);
    border-radius: 10px;
    border-style: solid;
    background-color: var(--accent1-color);
    transition: box-shadow 0.25s ease-in-out;
}

.image-card:hover {
    box-shadow: 5px 5px 10px 5px var(--accent1-color);
}

.image-card img {
    display: block;
    width: 100%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.image-card p {
    display: block;
    width: 100%;
    padding: 0 .5rem;
    background-color: var(--accent1-color);
}

@media screen and (min-width: 768px) {

    nav {
        justify-content: right;
    }

    .hero {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 550px;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .hero-image {
        grid-column: 1 / span 6;
        grid-row: 1/ span 3;
    }

    .hero-text {
        grid-column: 1 / span 6;
        grid-row: 3;
        z-index: 1;
        text-align: center;
        color: var(--accent1-color);
        background-color: var(--accent2-color-opaque);
        contain: content;
    }

    .home-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .rover-hero {
        flex-direction: row;
    }

    .rover-hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .rover-hero-text {
        width: 50%;
        padding: 1rem;
        text-align: center;
    }

    #rover-select {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: end;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
    }

    #rover-select label,
    select,
    input {
        display: inline;
        width: 100%;
        padding: .5rem;
    }

    #rover-images h2 {
        font-family: var(--font-headline);
        font-size: var(--large-font);
        color: var(--accent2-color);
        text-align: center;
    }

    .rover-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}